.new-user-dashboard-container {
  width: 100%;
  box-sizing: border-box;
}

.new-user-carousel-container {
  margin: 10px;
}

.new-user-carousel-card-container {
  width: 100%;
  border-radius: 14px;
  background: #5e35b1;
  background: linear-gradient(
    236deg,
    rgba(94, 53, 177, 1) 22%,
    rgba(69, 39, 160, 1) 94%
  );
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  box-sizing: border-box;
  padding: 10px;
  height: 210px;
}

.new-user-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}

.dashboard-welcome-text {
  color: #ffffff;
}

.dashboard-welcome-sub-text {
  margin: 2px 0 0 0;
  color: #ffffff;
  line-height: 1.2;
  font-weight: 600;
}

.dashboard-logo-container {
  width: fit-content;
  border-radius: 8px;
}

.dashboard-logo-container > svg {
  width: 50px;
  height: 50px;
}

.new-user-cards-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 5px;
}

.new-user-cards-icon-container :nth-child(3) {
  border: none;
}

.new-user-cards-icon-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  flex-grow: 1;
  padding: 0 5px;
  border: solid #ede7f6;
  border-width: 0px 1px 0px 0px;
}

.new-user-carousel-icon {
  color: #ede7f6;
  font-size: 35px;
}
