.transaction-form-container {
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f3f3f6;
}

.transaction-form-header-continer {
  background-color: #121926;
  height: 60px;
  padding: 0 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-form-header-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: hidden;
}

.transaction-form {
  margin: 10px;
}

.transaction-form-scroll-container {
  overflow-y: scroll;
  height: calc(100dvh - 120px);
}

.transaction-form > div {
  margin-top: 10px;
}

.transaction-form-text-area-container {
  height: 74px;
}

.transaction-form-text-area {
  border-radius: 8px;
  border: solid 1px lightgrey;
  width: 99%;
}

.form-array-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 48%;
  gap: 5px;
}

.form-each-array-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: #000000;
  color: #ffffff;
  padding: 3px 2px 3px 5px;
  border-radius: 8px;
}

.transaction-form-submit-btn-container {
  width: 93%;
  position: fixed;
  bottom: 0;
  padding: 5px 0;
  background-color: #ffffff;
}

.transaction-form-submit-btn-container > button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input {
  display: flex;
  align-items: center;
  gap: 5px;
}

.MuiButtonBase-root.MuiMenuItem-root {
  height: 40px;
}

#menu-category > .MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  width: 100% !important;
  margin-left: -8.5px;
  border-radius: 14px !important;
}

#menu-paymentMethod > .MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  margin-left: -10px;
  width: 46.5% !important;
  max-width: 46.5% !important;
  min-width: 46.5% !important;
}

#menu-paymentInfo > .MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  margin-left: -9px;
  width: 55.5% !important;
  max-width: 55.5% !important;
  min-width: 55.5% !important;
}

#menu-bank > .MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  margin-left: 3px;
  width: 46.5% !important;
  max-width: 46.5% !important;
  min-width: 46.5% !important;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(182, 182, 182);
  transition: 0.4s;
  border-radius: 8px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 6px;
  left: 0.3em;
  bottom: 0.3em;
  transform: rotate(180deg);
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star-off" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 3l18 18" /><path  d="M10.012 6.016l1.981 -4.014l3.086 6.253l6.9 1l-4.421 4.304m.012 4.01l.588 3.426l-6.158 -3.245l-6.172 3.245l1.179 -6.873l-5 -4.867l6.327 -.917" /></svg>') !important;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.switch input:checked + .slider {
  background-color: #ffe700;
}

.switch input:checked + .slider:before {
  background-color: #000000 !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="gold" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>') !important;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

.transaction-form-list-items {
  list-style: square;
  margin: 5px;
}

.transaction-form-navigate-list-items {
  text-decoration: underline;
  list-style: decimal;
  text-decoration-color: blue;
  color: blue;
  margin: 2px 0;
  cursor: pointer;
  width: fit-content;
}

.transaction-form-tags-users-contaier > div {
  flex-grow: 1;
}

.form-array-main-container,
.transaction-form-tags-users-contaier {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.transaction-form-payment-parent-container {
  border: solid lightgrey 1px;
  padding: 4px;
  border-radius: 8px;
}

.form-each-array-container > p {
  word-break: break-all;
}
