.transaction-form-container {
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f3f3f6;
}

.transaction-form-header-continer {
  background-color: #121926;
  height: 60px;
  padding: 0 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-form-header-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: hidden;
}

.transaction-form {
  margin: 5px 10px 10px 10px;
}

.transaction-form-scroll-container {
  overflow-y: scroll;
  height: calc(100dvh - 120px);
}

.transaction-form>div:not(:nth-child(1)) {
  margin-top: 0px;
}

.transaction-form>div {
  margin-top: 0px;
}

.transaction-form-amount-date-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.transaction-form-text-area-container {
  height: 74px;
}

.transaction-form-text-area {
  border-radius: 8px;
  border: solid 1px lightgrey;
  width: 99%;
}

.form-array-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 48%;
  gap: 5px;
}

.form-each-array-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: #000000;
  color: #ffffff;
  padding: 3px 2px 3px 5px;
  border-radius: 8px;
}

.transaction-form-submit-btn-container {
  width: 93%;
  position: fixed;
  bottom: 0;
  padding: 5px 0;
  background-color: #ffffff;
}

.transaction-form-submit-btn-container>button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input.MuiSelect-select.MuiInputBase-input.MuiOutlinedInput-input {
  display: flex;
  align-items: center;
  gap: 5px;
}

.MuiButtonBase-root.MuiMenuItem-root {
  height: 40px;
}

#menu-category>.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  width: 100% !important;
  margin-left: -8.5px;
  border-radius: 14px !important;
}

#menu-paymentMethod>.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  margin-left: -10px;
  width: 46.5% !important;
  max-width: 46.5% !important;
  min-width: 46.5% !important;
}

#menu-paymentInfo>.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  margin-left: -9px;
  width: 55.5% !important;
  max-width: 55.5% !important;
  min-width: 55.5% !important;
}

#menu-bank>.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  margin-left: 3px;
  width: 46.5% !important;
  max-width: 46.5% !important;
  min-width: 46.5% !important;
}

.transaction-form-favourite-contaier {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row-reverse;
  margin: 0 !important;
}

.transaction-form-starred-label {
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  cursor: pointer;
  transition: 0.4s;
  border-radius: 8px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  border-radius: 6px;
  left: 0.3em;
  bottom: 0.3em;
  background-size: 25px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+Cgo8IS0tIExpY2Vuc2U6IFBELiBNYWRlIGJ5IGxpbmVhLWlvOiBodHRwczovL2dpdGh1Yi5jb20vbGluZWEtaW8vTGluZWEtSWNvbnNldCAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiAKCSB3aWR0aD0iMzBweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDY0IDY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBvbHlnb24gZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSIzMiw0NyAxMiw2MiAyMCwzOCAyLDI0IDI0LDI0IDMyLDEgNDAsMjQgCgk2MiwyNCA0NCwzOCA1Miw2MiAiLz4KPC9zdmc+') !important;
  background-repeat: no-repeat;
  background-position: center;
}

.switch input:checked+.slider:before {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+Cgo8IS0tIExpY2Vuc2U6IFBELiBNYWRlIGJ5IGxpbmVhLWlvOiBodHRwczovL2dpdGh1Yi5jb20vbGluZWEtaW8vTGluZWEtSWNvbnNldCAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiAKCSB3aWR0aD0iMzBweCIgaGVpZ2h0PSIzMHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDY0IDY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBvbHlnb24gZmlsbD0iI2ZmZTcwMCIgc3Ryb2tlPSIjZmZlNzAwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSIzMiw0NyAxMiw2MiAyMCwzOCAyLDI0IDI0LDI0IDMyLDEgNDAsMjQgCgk2MiwyNCA0NCwzOCA1Miw2MiAiLz4KPC9zdmc+') !important;
}

.transaction-form-list-items {
  list-style: square;
  margin: 5px;
}

.transaction-form-navigate-list-items {
  text-decoration: underline;
  list-style: decimal;
  text-decoration-color: blue;
  color: blue;
  margin: 2px 0;
  cursor: pointer;
  width: fit-content;
}

.transaction-form-tags-users-contaier>div {
  flex-grow: 1;
}

.form-array-main-container,
.transaction-form-tags-users-contaier {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.transaction-form-payment-parent-container {
  border: solid lightgrey 1px;
  padding: 4px;
  border-radius: 8px;
}

.form-each-array-container>p {
  word-break: break-all;
}