.account-container {
  padding: 20px;
  margin-bottom: 60px;
}

.account-profile-container {
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.account-profile-logo-container {
  border-radius: 50px;
  border: solid 3.5px black;
  background-color: #ffffff;
  width: fit-content;
  padding: 1px 4px;
  position: absolute;
}

.account-profile-info-container {
  background-color: lightgrey;
  border-radius: 50px 25px 25px 25px;
  padding: 30px 10px 5px 20px;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.account-user-name {
  font-weight: 600;
  font-size: 22px;
  margin: 25px 0 10px 0px;
}

.account-user-details-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 7px;
}

.account-user-details {
  font-size: 17px;
  font-weight: 500;
  word-break: break-all;
}

.account-payment-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.account-payement-sub-container {
  border-radius: 14px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 10px 5px 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  box-sizing: border-box;
}

.account-payment-header {
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 5px 7px;
}

.account-expand-icon {
  position: absolute;
  top: 10;
  right: 10px;
  font-size: 25px;
  padding: 3px;
  stroke-width: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
