.button-icon-style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.button-icon-style:hover {
  transition: 0.1s all ease !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

input:focus-visible {
  outline: solid 1.5px #000000 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("../../assets/calendar.png") no-repeat;
  background-size: cover;
  border-width: thin;
  margin-right: 10px;
}

input[type="date"] {
  background-color: #ffffff !important;
}

.transaction-add-button {
  position: fixed;
  bottom: 65px;
  right: 12px;
  height: 55px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.open-transaction-animate-icon {
  border-radius: 6px;
  padding: 3px;
  font-size: 26px;
  cursor: pointer;
}

.delet-icon {
  background-color: #f8b3ab;
  color: #f44336;
}
.edit-icon {
  background-color: #e3f2fd;
  color: #1e88e5;
}
.draft-icon {
  background-color: #fff8e1;
  color: #ffc107;
}

.user-info-credit-delete-prompt-container {
  display: flex;
  align-items: center;
  width: 0;
  overflow: hidden;
  gap: 3px;
}

.radio-input-list-container {
  display: flex;
  gap: 5px;
  margin-top: 4px;
  overflow-x: auto;
  padding: 0 3px;
}

.radio-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 3px;
  padding: 8px 10px 8px 0;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.radio-input > label {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 3px;
}

.radio-input-checked {
  background-color: #121926;
  color: #ffffff;
}

.form-radio-input:after {
  width: 12px !important;
  height: 12px !important;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

.form-radio-input:checked:after {
  width: 12px !important;
  height: 12px !important;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #121926;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.radio-input-label-image {
  width: 18px;
  height: 18px;
}

.radio-input-list-container::-webkit-scrollbar {
  display: none;
}
